<nav class="navbar navbar-expand-lg navbar-dark fixed-top" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" th:href="@{https://www.diracetechnology.com/}">
            <img src="/images/logo.png" alt="DAT Logo" style="height: 24px; margin-right: 8px;">
            <span>DIR-ACE TECHNOLOGY</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{https://www.diracetechnology.com/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{https://www.diracetechnology.com/profile/}">About Us</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{https://www.diracetechnology.com/contact-us/}">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{https://www.diracetechnology.com/}"> Visit Website </a></li>
            </ul>
        </div>
    </div>
</nav>
